//====================================================================================================

.page-preview {
	// background: #1c57c9;
	// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 70%;
		height: 100%;
		background: #1c57c9;
		border-bottom-right-radius: 85%;
		z-index: -1;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		@media (max-width: 1920px) {
			width: 65%;
			border-bottom-right-radius: 55%;
		}

		@media (min-width: 1920px) {
			width: 60%;
			border-bottom-right-radius: 65%;
		}
		@media (max-width: $md2+px) {
			width: 100%;
			border-bottom-right-radius: 30%;
		}

		@media (max-width: $md4+px) {
			width: 110%;
			border-bottom-right-radius: 45%;
		}
	}
	&__container {
	}

	&__row {
		min-height: 100vh;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__column {
		margin: 0px 80px 0px 0px;
		@media (max-width: $md2+px) {
			margin: 0px 0px 0px 0px;
		}
	}

	&__photo {
		position: relative;
	}

	&__image-big {
	}

	&__image-min {
		position: absolute;
		bottom: -200px;
		right: -250px;
	}

	&__body {
	}

	&__image {
		img {
			width: 100%;
			max-width: 440px;
			max-height: 540px;

			object-fit: contain;
		}
		@media (max-width: $md2+px) {
			display: none;
		}
	}
}

.body-page {
	&__content {
		@media (max-width: $md2+px) {
			text-align: center;
		}
	}

	&__title {
		max-width: 500px;
		margin: 0px 0px 35px 0px;

		font-weight: bold;
		font-size: 55px;
		line-height: 72px;

		letter-spacing: -0.02em;

		color: #ffffff;

		span {
			color: #1ece7a;
		}

		@media (max-width: $md2+px) {
			max-width: 100%;
		}

		@media (max-width: $md4+px) {
			font-style: normal;
			font-weight: bold;
			font-size: 42px;
			line-height: 140%;
			letter-spacing: -0.02em;
			color: #ffffff;
			margin: 0px 0px 18px 0px;
		}
	}

	&__text {
		max-width: 560px;

		font-weight: normal;
		font-size: 20px;
		line-height: 160%;

		color: #ffffff;

		margin: 0px 0px 75px 0px;

		@media (max-width: $md2+px) {
			max-width: 100%;
		}

		@media (max-width: $md4+px) {
			font-weight: normal;
			font-size: 18px;
			line-height: 160%;

			color: #ffffff;
			margin: 0px 0px 40px 0px;
		}
	}

	&__link {
		font-weight: bold;
		font-size: 15px;
		line-height: 18px;

		color: #ffffff;

		padding: 13px 21px;
		margin: 0px 15px 0px 0px;
	}
}
//========================================================================================================================================================

.features-page {
	&__container {
	}

	&__info {
		font-style: italic;
		font-weight: 500;
		font-size: 20px;
		line-height: 160%;
		letter-spacing: 0.01em;

		color: #606c84;

		margin: 0px 0px 100px 0px;

		max-width: 920px;

		@media (max-width: $md2+px) {
			text-align: center;
			margin: 0px 0px 90px 0px;
		}
	}

	&__title {
	}

	&__row {
		display: flex;
		align-items: center;
		@media (max-width: $md2+px) {
			display: block;
		}
	}

	&__column {
		&:last-child {
			margin: 0px 0px 0px 85px;
			@media (max-width: $md2+px) {
				margin: 0px 0px 0px 0px;
			}
		}
	}
}

.column-features {
	&__image {
		text-align: center;
		svg {
			max-width: 457px;
			max-height: 457px;
			// width: 100%;
			height: 100%;

			object-fit: cover;

			@media (max-width: $md4+px) {
				max-width: 320px;
				max-height: 320px;
			}
		}
	}

	&__body {
	}

	&__title {
	}

	&__text {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 160%;

		color: #606c84;
		margin: 0px 0px 40px 0px;

		@media (max-width: $md2+px) {
			text-align: center;
			margin: 0px 0px 60px 0px;
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: -30px -5px;

		@media (max-width: $md2+px) {
			text-align: center;
			margin: -18px -10px;
		}
	}

	&__item {
		flex: 0 1 50%;

		padding: 30px 5px;

		img {
			margin: 0px 0px 35px 0px;
		}

		@media (max-width: $md2+px) {
			padding: 18px 10px;
		}

		@media (max-width: $md4+px) {
			flex: 0 1 100%;
		}
	}

	&__subtitle {
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;

		color: #262b35;
		margin: 0px 0px 15px 0px;
	}

	&__suptitle {
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 160%;

		color: #606c84;

		@media (max-width: $md4+px) {
			max-width: 260px;
			margin: 0 auto;
		}
	}
}

//========================================================================================================================================================

.update-page {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
		width: 50%;
		height: 100%;
		border-bottom-right-radius: 40%;
		background: #1c57c9;
		transform: matrix(-1, 0, 0, 1, 0, 0);

		@media (max-width: $md2+px) {
			right: 0;
			top: 0;
			z-index: -1;
			width: 50%;
			height: 100%;
			border-bottom-left-radius: 50%;
			background: #1c57c9;
			transform: matrix(12, 0, 0, 1, 0, 560);
		}

		@media (max-width: 767px) {
			width: 100%;
			height: 100%;
		}
	}
	&__container {
	}

	&__row {
		display: flex;

		@media (max-width: $md2+px) {
			display: block;
		}
	}

	&__column {
		position: relative;

		flex: 0 1 600px;
	}

	&__title {
		text-align: left;

		@media (max-width: $md2+px) {
			text-align: center;
		}
	}

	&__subtitle {
		max-width: 440px;
		@media (max-width: $md2+px) {
			margin: 0 auto 60px;
		}
	}

	&__image {
		@media (max-width: 767px) {
			display: none;
		}

		&_one {
			padding: 20% 0px;
			width: 340px;
			position: relative;
			left: -180px;

			@media (max-width: $md2+px) {
				left: 0;
				padding: 16% 0px;
			}

			@media (max-width: $md4+px) {
				padding: 16% 0px;
				width: 190px;
				left: -40px;
			}
		}

		&_two {
			padding: 32% 0px;
			width: 375px;
			position: absolute;
			top: 25%;
			right: 16px;
			@media (max-width: $md2+px) {
				padding: 29% 0px;
				right: 6px;
			}

			@media (max-width: $md4+px) {
				width: 210px;
				padding: 36% 0px;
				right: -40px;
				top: 35%;
			}
		}

		&_tree {
			padding: 33% 0px;
			width: 440px;
			left: -180px;
			margin: 36px 0px 0px 0px;

			@media (max-width: $md2+px) {
				left: 0;
				padding: 27% 0px;
			}

			@media (max-width: $md4+px) {
				width: 232px;
				padding: 33% 0px;
				left: -40px;
				margin: 16px 0px 0px 0px;
			}
		}
	}

	&__info {
		text-align: left;
	}
}

.info-update {
	padding: 70px 0px 180px 30px;
	@media (max-width: $md2+px) {
		padding: 70px 0px 100px 0px;
	}
	&__items {
		@media (max-width: $md2+px) {
			display: flex;
			flex-wrap: wrap;
			margin: 0px -10px;
		}
	}

	&__item {
		display: flex;

		@media (max-width: $md2+px) {
			text-align: center;
			display: block;
			flex: 0 1 50%;
			padding: 0px 10px;
		}
	}

	&__image {
		margin: 0px 30px 0px 0px;

		@media (max-width: $md2+px) {
			margin: 0px 0px 30px 0px;
		}

		img {
			height: 60px;
		}
	}

	&__body {
	}

	&__title {
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;

		color: #ffffff;
		margin: 0px 0px 15px 0px;
	}

	&__text {
		font-weight: normal;
		font-size: 15px;
		line-height: 160%;

		color: #ffffff;

		max-width: 350px;

		margin: 0px 0px 50px 0px;
	}
}

//========================================================================================================================================================



//====================================================================================================
