//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Inter";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1075;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 20px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;

	&__preview {
		margin: 0px 0px 90px 0px;
	}

	&__features {
		padding: 90px 0px 0px 0px;
		margin: 0px 0px 90px 0px;
	}
   &__pluses {
	}
	&__update {
	}
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

.pluses-page {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) -9.97%, #ECF0F7 100%);

	// .pluses-page__container

	&__container {
	}

	// .pluses-page__row

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	// .pluses-page__column

	&__column {
		flex: 0 0 30%;
		background: #ffffff;
		margin-bottom: 30px;
		box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.1);
		border-radius: 16px;
		padding:20px 24px ;
		display: flex;
		align-items: center;
		p{
			max-width: 185px;
			margin-left:30px ;
		}
	}
}

.pluses {

	// .pluses__slider

	&__slider {
	}
}
.swiper-slide {
}



//========================================================================================================================================================


.svg__text{
	opacity: 0;
	transform: translateY(20deg);
	transition: 0.8s;
 }

.column-features__item{
	&._active{
		.line__1{
			-webkit-animation: line-1 1s ease-out forwards;
			animation: line-1 1s ease-out forwards;
		}
		.line__2{
			-webkit-animation: line-2 1s ease-out forwards;
			animation: line-2 1s ease-out forwards;
		}
		.line__3{
			-webkit-animation: line-3 1s ease-out forwards;
			animation: line-3 1s ease-out forwards;
		}
		.line__4{
			-webkit-animation: line-4 1s ease-out forwards;
			animation: line-4 1s ease-out forwards;
		}
		.line__5{
			-webkit-animation: line-5 1s ease-out forwards;
			animation: line-5 1s ease-out forwards;
		}
		.arrow-2{
			-webkit-animation:  rotate-1 1s ease-out forwards;
	        animation:  rotate-1 1s ease-out forwards;
		}
		.arrow-1{
			-webkit-animation:  rotate-2 1s ease-out forwards;
	        animation:  rotate-2 1s ease-out forwards;
		}
	}
}



.column-features__image{
	&._active{
			.svg__text{
				-webkit-animation: slide-top 1s ease-out forwards;
	        animation: slide-top 1s ease-out forwards;
          }
			 .svg__first{
				animation-delay: 0.3s;
          }
			 .svg__second{
				animation-delay: 0.6s;
          }
			 .svg__third{
				animation-delay: 0.9s;
			 }
	}
}

@-webkit-keyframes  rotate-1 {
	0% {
	  -webkit-transform: rotate(5deg);
				 transform: rotate(5deg);
				
	}

	100% {
	  -webkit-transform: rotate(0deg);
				 transform: rotate(0deg);
				
	}
 }
 @keyframes rotate-1 {
	0% {
		-webkit-transform: rotate(5deg);
				  transform: rotate(5deg);
				 
	 }
 
	 100% {
		-webkit-transform: rotate(0deg);
				  transform: rotate(0deg);
				 
	 }
 }

 @-webkit-keyframes  rotate-2 {
	0% {
	  -webkit-transform: rotate(5deg);
				 transform: rotate(5deg);
				
	}

	100% {
	  -webkit-transform: rotate(0deg);
				 transform: rotate(0deg);
				
	}
 }
 @keyframes rotate-2 {
	0% {
		-webkit-transform: rotate(5deg);
				  transform: rotate(5deg);
				 
	 }
 
	 100% {
		-webkit-transform: rotate(0deg);
				  transform: rotate(0deg);
				 
	 }
 }


@-webkit-keyframes line-1 {
	0% {
	  -webkit-transform: translateX(0px);
				 transform: translateX(0px);
				
	}
	50%{
		-webkit-transform: translateX(-3px);
		transform: translateX(-3px);
	}
	100% {
	  -webkit-transform: translateX(0px);
				 transform: translateX(0px);
				
	}
 }
 @keyframes line-1 {
	0% {
	  -webkit-transform: translateX(0px);
				 transform: translateX(0px);
			
	}
	50%{
		-webkit-transform: translateX(-3px);
		transform: translateX(-3px);
	}
	100% {
	  -webkit-transform: translateX(0px);
				 transform: translateX(0px);
			
	}
 }
 @-webkit-keyframes line-2 {
	0% {
	  -webkit-transform: translate(0px);
				 transform: translate(0px);
				
	}
	50%{
		-webkit-transform: translate(-3px, -3px);
		transform: translate(-3px, -3px);
	}
	100% {
	  -webkit-transform: translate(0px);
				 transform: translate(0px);
				
	}
 }
 @keyframes line-2 {
	0% {
		-webkit-transform: translate(0px);
				  transform: translate(0px);
				 
	 }
	 50%{
		 -webkit-transform: translate(-3px, -3px);
		 transform: translate(-3px, -3px);
	 }
	 100% {
		-webkit-transform: translate(0px);
				  transform: translate(0px);
				 
	 }
 }
 @-webkit-keyframes line-3 {
	0% {
	  -webkit-transform: translate(0px);
				 transform: translate(0px);
				
	}
	50%{
		-webkit-transform: translate(0px, -3px);
		transform: translate(0px, -3px);
	}
	100% {
	  -webkit-transform: translate(0px);
				 transform: translate(0px);
				
	}
 }
 @keyframes line-3 {
	0% {
		-webkit-transform: translate(0px);
				  transform: translate(0px);
				 
	 }
	 50%{
		 -webkit-transform: translate(0px, -3px);
		 transform: translate(0px, -3px);
	 }
	 100% {
		-webkit-transform: translate(0px);
				  transform: translate(0px);
				 
	 }
 }

 @-webkit-keyframes line-4 {
	0% {
	  -webkit-transform: translate(0px);
				 transform: translate(0px);
				
	}
	50%{
		-webkit-transform: translate(3px, -3px);
		transform: translate(3px, -3px);
	}
	100% {
	  -webkit-transform: translate(0px);
				 transform: translate(0px);
				
	}
 }
 @keyframes line-4 {
	0% {
		-webkit-transform: translate(0px);
				  transform: translate(0px);
				 
	 }
	 50%{
		 -webkit-transform: translate(3px, -3px);
		 transform: translate(3px, -3px);
	 }
	 100% {
		-webkit-transform: translate(0px);
				  transform: translate(0px);
				 
	 }
 }
 @-webkit-keyframes line-5 {
	0% {
	  -webkit-transform: translate(0px);
				 transform: translate(0px);
				
	}
	50%{
		-webkit-transform: translate(3px, 0px);
		transform: translate(3px, 0px);
	}
	100% {
	  -webkit-transform: translate(0px);
				 transform: translate(0px);
				
	}
 }
 @keyframes line-5 {
	0% {
		-webkit-transform: translate(0px);
				  transform: translate(0px);
				 
	 }
	 50%{
		-webkit-transform: translate(3px, 0px);
		transform: translate(3px, 0px);
	 }
	 100% {
		-webkit-transform: translate(0px);
				  transform: translate(0px);
				 
	 }
 }



@-webkit-keyframes slide-top {
	0% {
	  -webkit-transform: translateY(20px);
				 transform: translateY(20px);
				 opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0px);
				 transform: translateY(0px);
				 opacity: 1;
	}
 }
 @keyframes slide-top {
	0% {
	  -webkit-transform: translateY(20px);
				 transform: translateY(20px);
				 opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0px);
				 transform: translateY(0px);
				 opacity: 1;
	}
 }